@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    background-color: #111;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 3rem;
}

.title > *:nth-child(1) {
    color: rgb(220, 220, 83);
}

.title > *:nth-child(3) {
    color: rgb(220, 220, 83);
}

.search {
    flex-grow: 1;
    position: relative;
    margin-left: 4rem;
}

.search-bar {
    font-size: 1.2rem;
    width: 400px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: .5rem;
}

.search label {
    background-color: rgb(220, 220, 83);
    font-size: 1.2rem;
    color: #111;
    position: absolute;
    left: 376px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: .3rem;
}

.basket {
    display: flex;
    align-items: center;
}

.basket span {
    color: rgb(220, 220, 83);
    font-size: 1.7rem;
    margin-right: .8rem;
}

.basket h3 {
    color: rgb(220, 220, 83);
    margin-left: .8rem;
}

.basket-clear-btn {
    display: none;
    background: none;
    color: yellow;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    align-self: flex-start;
    margin-left: .5rem;
}

.basket-clear-btn.active {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
}

.categories {
    text-align: center;
    margin-top: 1rem;
}

.categories-title {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.categories-item > button {
    background-color: inherit;
    font-size: 1.3rem;
    font-family: inherit;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    margin: .5rem;
    padding: .8rem;
    transition: all .2s ease-in-out;
}

.categories-item > *:hover {
    background-color: #111;
    color: rgb(220, 220, 83);
}

.categories-item .active {
    background-color: #111;
    color: rgb(220, 220, 83);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.product-item {
    max-width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.product-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product img {
    width: 220px;
}

.product-description {
    color: rgb(94, 94, 94);
    font-size: 15px;
    line-height: 22px;
}

.product-price {
    color: green;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-price .price-sale {
    display: none;
}

.product-item.on-sale .price {
    color: #111;
    font-size: 13px;
    position: relative;
}

.product-item.on-sale .price::before {
    position: absolute;
    content: "";
    width: 110%;
    height: 2px;
    background-color: #111;
    top: 35%;
    left: -5px;
    transform: rotate(-10deg);
}

.product-item.on-sale .price-sale {
    display: block;
}

.product-add-to-basket-btn {
    background: black;
    color: white;
    width: 60%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product-add-to-basket-btn:hover {
    color: yellow;
}

.product-item-sale-info {
    display: none;
    position: absolute;
    right: -10px;
    top: 0;
    background-color: #111;
    color: rgb(220, 220, 83);
    border-radius: 5px;
    padding: 5px 15px;
    opacity: .8;
}

.product-item.on-sale .product-item-sale-info {
    display: block;
}

.empty-state {
    display: none;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.empty-state.active {
    display: block;
}

@media only screen and (max-width: 1100px) {
    header {
        padding: .5rem;
    }

    .title > *:nth-child(1) {
        display: none;
    }
    
    .title > *:nth-child(2) {
        display: none;
    }
    
    .search {
        margin-left: .5rem;
    }
    
    .search-bar {
        font-size: .8rem;
        width: 200px;
    }
    
    .search label {
        left: 176px;
    }

    .basket {
        font-size: .9rem;
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        flex-direction: row;
    }

    .categories {
        border-right: 1px solid black;
        margin: 0px;
        min-width: 350px;
    }

    .categories-title {
        background-color: rgb(220, 220, 83);
        padding: 6px;
    }

    .categories-item {
        display: flex;
        flex-direction: column;
    }

    .categories-item button {
        padding: 10px 50px;
        border-radius: 5px;
    }

    .products {
        margin-left: 15px;
        gap: 3rem;
    }
}
